@model MarketListViewModel

@{ 
    ViewData["Title"] = "Manage your Marker List"; 
}

<div class="panel panel-default marketlist-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table	table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Item</td>
                <td>Quantity</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <form asp-action="MarkAsBought" method="post">
                        <input type="checkbox" class="bought-checkbox">
                        <input type="hidden" name="id" value="@item.Id">
                    </form>
                </td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </table>
    <div class="panel-footer add-item-form">				
        <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddItemPartial", new MarketListItem())
        </div>
    </div>
</div>
